<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<mat-toolbar class="mat padding">
  <img src="../../assets/logo.png" alt="Logo" id="logo" class="logo" routerLink="/home" />
  <p style="font-size: 26px">
    <i class="fa fa-map-marker" style="font-size: 36px"></i> Đorđa Stanojevića
    16, 11000 Beograd
  </p>
  <p style="font-size: 26px">
    <i class="fa fa-phone" style="font-size: 36px"></i>
       +381113202100
  </p>
  <p style="font-size: 26px">
    <i class="fa fa-envelope" style="font-size: 36px"></i> info@raiffeisenbank.rs
  </p>

</mat-toolbar>

<mat-toolbar class="mat2">
  <div class="text">
    <h1>Imate prigovor?</h1>
    <p>Javite nam se i učinićemo sve da Vam pomognemo</p>
  </div>

  <div mat-dialog-close class="menu">
    <button>Podnesite prigovor</button>
  </div>
</mat-toolbar>

<div class="container">
  <div class="col">
    <h1>KREDITI</h1>
    <p>Keš kredit</p>
    <p>“iKeš” kredit</p>
    <p>Za refinansiranje</p>
    <p>Stambeni krediti</p>
    <p>Lizing</p>
  </div>
  <div class="col">
    <h1>KARTICE</h1>
    <p>Keš kredit</p>
    <p>“iKeš” kredit</p>
    <p>Za refinansiranje</p>
    <p>Stambeni krediti</p>
    <p>Lizing</p>
  </div>
  <div class="col">
    <h1>RAČUNI</h1>
    <p>Keš kredit</p>
    <p>“iKeš” kredit</p>
    <p>Za refinansiranje</p>
    <p>Stambeni krediti</p>
    <p>Lizing</p>
  </div>
  <div class="col">
    <h1>ŠTEDNJA</h1>
    <p>Keš kredit</p>
    <p>“iKeš” kredit</p>
    <p>Za refinansiranje</p>
    <p>Stambeni krediti</p>
    <p>Lizing</p>
  </div>
  <div class="col">
    <h1>DIGITALNE USLUGE</h1>
    <p>Keš kredit</p>
    <p>“iKeš” kredit</p>
    <p>Za refinansiranje</p>
    <p>Stambeni krediti</p>
    <p>Lizing</p>
  </div>
  <div class="col">
    <h1>OSTALI LINKOVI</h1>
    <p>Keš kredit</p>
    <p>“iKeš” kredit</p>
    <p>Za refinansiranje</p>
    <p>Stambeni krediti</p>
    <p>Lizing</p>
  </div>
</div>

<div class="social">
  <i class="fa fa-facebook-f" style="font-size:36px"></i>
  <i class="fa fa-instagram" style="font-size:36px; margin:20px"></i>
  <i class="fa fa-twitter" style="font-size:36px"></i>
</div>
