:host {
  .mat {
    height: 64px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 80px;
    align-items: center;
    background-color: #fff200;

    .logo,
    .menu {
      cursor: pointer;
    }
  }

  #logo{
    height: 55px;
    width: 55px;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: black;
  }
}
