table {
    width: 100%;
    background-color: rgb(235, 235, 235);

  }
  
  .mat-form-field {
    margin-top: 10%;
    font-size: 14px;
    width: 100%;
    background-color: rgb(235, 235, 235);
  }

  .mat-paginator {
    background-color: rgb(235, 235, 235);
  }
  
  td, th {
    width: 15%;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .addBtn{
    background-color: #fff200;
    width: 30%;
    float: right;
    margin-bottom: 160px;
  }